*{
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

.light-theme {
    background-color: rgba(197, 190, 190, 0.456);
}

.darkmode-theme {
    background-color: rgb(39, 34, 34);
    color: white;
}


.hiddenanswer{
    margin-top: 30px;
    font-size: 1.5rem;
    color: rgb(10, 10, 19);
    padding: 8px 150px;
    margin-top: 65px;
    background-color: rgb(58, 121, 121);
    border: 2px solid rgb(28, 29, 29);
    border-radius: 10px;
    align-items: center;
visibility: hidden;
}
.showanswer {
    visibility: visible;
}
